/* Встроенные классы */
* {
    font-family: Helvetica, sans-serif, Arial;
    scrollbar-color: #aaa white;
    border-radius: 5px;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, p, summary, ol, ul, .menu_item, .footer-p {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, p, summary {
    text-align: center;
    margin: 20px 0;
}

/* Размеры шрифтов */
h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; }
p, summary, ol, ul { font-size: 20px; }

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

ul, ol {
    list-style-position: inside;
    padding-left: 20px;
    margin: 10px 0;
    text-align: left;
}

li {
    text-align: left; /* Выравнивание текста по левому краю */
}

p {
    text-align: left; /* Выравнивание текста по левому краю */
    margin: 20px 0; /* Вертикальные отступы */
}

input {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding-top: auto;
    padding-bottom: auto;  
    margin: 44px 20px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;  
    min-width: 300px;
    filter: blur(1px);
    transition: all 0.5s ease;
}

input:hover {
    filter: blur(0);
    scale: 1.1;
}

.login {
    filter: blur(0);
}

.login:hover {
    background-color: green;
    color: white;
}

select {
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    text-align: center;
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, white 0%,lightblue 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 



.select::-ms-expand { display: none; } 

.select:hover { border-color: #888; } 

.select:focus { border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
    outline: none; 
} 
 .select option { font-weight:normal; } 
    *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em;
}

#body {
    background-image: url("images/bg.jpg");
    color: rgb(0, 0, 50);
}

/* Header */
.header-div {
    position: fixed;
    background: linear-gradient(darkslateblue, darkblue);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: right;
    border-radius: 0px;
    z-index: 1;
}

.logo {
    height: 80px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}

.logo:hover {
    transform: scale(1.05);
}

/* Выпадающее меню */
.menu_item {
    font-size: 30px;
    color: white;
    padding-left: 50px;
    text-align: left;
    line-height: 60px;
}

.menu_item:hover {
    filter: blur(0);
    background: linear-gradient(darkslateblue, lightblue);
}

#menu {
    position: fixed;
    top: 80px;
    left: -300px;
    width: 300px;
    height: 100%;
    border-radius: 0px;
    background-color: darkblue;
    transition: left 0.3s ease;
    z-index: 1;
}

/* Кнопки в header'е */
.menu_button {
    border-radius: 0px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    background: linear-gradient(darkslateblue, darkblue);
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu_button:hover {
    background: linear-gradient(darkslateblue, lightblue);
}


.profile_button {
    border-radius: 0px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    background: linear-gradient(darkslateblue, darkblue);
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    top: 0;
    left: 80px;
    height: 80px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.profile_button:hover {
    background: linear-gradient(darkslateblue, lightblue);
}

.mail_button {
    border-radius: 0px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    background: linear-gradient(darkslateblue, darkblue);
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    top: 0;
    left: 160px;
    height: 80px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.mail_button:hover {
    background: linear-gradient(darkslateblue, lightblue);
}

.theme_button {
    border-radius: 0px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    background: linear-gradient(darkslateblue, darkblue);
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
    top: 0;
    left: 240px;
    height: 80px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.theme_button:hover {
    background: linear-gradient(darkslateblue, lightblue);
}

/* Основной контент */
.content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

/* Карточки в файле interships.html */
.card-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.card-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.content-card {
    justify-content: center;
    backdrop-filter: blur(35px);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    width: 25%;
    height: 350px;
    padding-top: 44px;
    padding-bottom: 44px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    transition: all 0.3s ease;
    min-width: 300px;
    align-items: center;
    text-align: center;
}

.content-card:hover {
    background-color: white;
    transform: scale(1.2);
}

.card-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-image:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* Медиа-запрос для устройств с шириной экрана менее 768px */
@media (max-width: 768px) {
    .header-div {
        padding: 5px 0;
    }
    
    .content-card {
        width: 90%;
        height: auto;
        padding: 15px;
        margin: 15px auto;
    }
    
    .content-card p {
        font-size: 14px;
    }

    .content-card h1, .content-card h2, .content-card h3 {
        font-size: 18px;
    }

    .card-image{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Медиа-запрос для устройств с шириной экрана менее 480px */
@media (max-width: 480px) {

    .header-div {
        padding: 5px 0;
    }

    .content-card {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px auto;
    }

    .content-card p {
        font-size: 12px;
    }

    .content-card h1, .content-card h2, .content-card h3 {
        font-size: 16px;
    }

    .card-image{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Инфографика о стажировках */
.info-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap; 
}

.info-card{
    justify-content: center;
    backdrop-filter: blur(35px);
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
    width: 25%;
    height: calc(width*2);
    padding-top: 44px;
    padding-bottom: 44px;  
    margin: 44px 20px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;  
    transition: all 0.3s ease;
    min-width: 300px;
    align-items: center;
}

.info-card:hover {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    transform: scale(1.2);
}

/* Профиль */
.details-box{
    backdrop-filter: blur(35px);
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: calc(width*2);
    padding-top: 44px;
    padding-bottom: 44px;  
    margin: 44px 20px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;  
    transition: all 0.3s ease;
    min-width: 300px;
    text-align: center;
}

.details-box:hover {
    background-color: white;
}


/* Галерея */
.gallery-image {
    width: 100%;
}

.gallery-image:hover {
    transform: scale(1.2);
}

.gallery-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gallery-vertical {
    width: 50%;
    display: inline;
}

.gallery-vertical:hover {
    transform: scale(1.2);
}

/* Progress bar */
.progress-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ccc;
    z-index: 1000;
}
  
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}

/* Footer */
footer {
    backdrop-filter: blur(35px);
    margin: 0;
    padding: 0;
}

.footer-p {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}

.footer-link {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #004B8F;
    background: linear-gradient(rgb(170, 166, 201), lightblue);
}

.footer-separator {
    color: black;
    margin: 0 5px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("images/bg_dark.jpg");
        color: white;
    }
    .footer-separator {
        color: white;
    }
    .footer-link {
        color: white;
    }
}